<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>豆瓣电影短评</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.slim.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="../">首页</a>
    <form class="form-inline" method="get" id="searchform" action="search/">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<div class="container">
    <h3 class="mt-5 mb-3">电影名称：阿甘正传</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">短评</th>
            <th scope="col" class="text-nowrap">星级</th>
        </tr>
        </thead>
        <tbody>
{% for short in shorts %}
        <tr>
            <th>{{ short.id }}</th>
            <td>{{ short.short }}</td>
            <td>{{ short.n_star }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>